<div id='loading'>
</div>

<div id='table-title'>
    <div class='centerContainer' id='logoContainer'>
    <img id='ojalaLogo' src='/static/images/OjalaLogo.png'/>
    </div>
    <div class='centerContainer' id='buttons'>
    <a href='./download'>
        <button id='download'>
            <i class='fa fa-cloud-download-alt'></i> Download .csv
        </button>
    </a>
    </div>
    <table class='table-fill'>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {{#each emails}}
            <tr class='row'>
            <td class='name'>{{this.Name}}</td>
            <td class='email'>{{this.Email}}</td>
            {{/each}}
            </tr>
        </tbody>
    </table>
</div>
